.main {
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.sort {
  margin: 0 auto;
  width: 400px;
}

.sort-title {
  float: left;
  font-size: 18px;
  margin: 10px;
}

.sort-option {
  float: left;
  font-size: 18px;
  color: #87c9ff;
  cursor: pointer;
  font-weight: 200;
  margin: 10px;
}

.sort-current {
  float: left;
  font-size: 18px;
  color: #608db2;
  text-decoration: underline;
  font-weight: 200;
  margin: 10px;
}

.content {
  width: 80%;

  margin: 10px auto 0 auto;
}

.post {
  height: 400px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.post-wrap {
  margin: 0 auto;
  width: 100%;
}

.post-media {
  background-color: black;
  height: 100%;
  background-color: white;
  margin: 30px 0;
}

.post-media-video {
  /*width: 240px;
  height: 320px;*/
  /*width: 100%;*/
  height: 400px;
  width: 400px;
}

.post-media-image {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.post-content {
  height: 100%;
  background-color: #ededed;
  margin: 30px 0;
}

.content-caption {
  margin: 20px 10px 0 10px;
  width: 100%;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  word-wrap: break-word;
}

.content-date {
  margin: 0 0 10px 10px;
  width: 100%;
  text-align: left;
  font-weight: 100;
}

.content-info-wrap {
  position: absolute;
  bottom: 0;
  margin-left: -15px;
  margin-bottom: 10px;
  width: 100%;
}
.content-info {
  width: 50%;
  float: left;
}

.content-info-text {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 90%;
  }

  .sort-title {
    font-size: 13px;
  }

  .sort-option {
    font-size: 13px;
  }

  .post {
    height: 320px;
  }

  .post-content {
    height: 200px;
    margin-top: 0;
  }

  .post-media {
    margin-bottom: 0;
  }

  .post-media-video {
    height: 320px;
  }

  .post-media-image {
    height: 320px;
    width: 320px;
    max-width: 480px;
  }

  .content-caption {
    font-size: 16px;
  }
}
