<div class="main">
  <!-- browse posts by -->
  <div class="sort">
    <p ng-click="sortBy('date')">Date added</p>
    <p ng-click="sortBy('like')">Likes</p>
    <p ng-click="sortBy('comment')">Comments</p>
  </div>

  <!-- main content -->
  <div class="content" ng-repeat="post in posts">
  </div>

  <!-- loading screen -->
  <!-- <video width="320" height="240" controls>
    <source src="https://scontent.cdninstagram.com/t50.2886-16/13008545_1788024718099012_926431166_s.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
  </video> -->
  <div class="loading" ng-show="render.loading"><p>loading...</p></div>
</div>
