<div class="main" scroll-bottom="onScrollBottom()">

  <!-- main content -->
  <div class="content container">
    <!-- browse posts by -->
    <div class="sort">
      <p class="sort-title">Browse by: </p>
        <p ng-class="{'sort-option': !isCurrentSort('createdAt'), 'sort-current': isCurrentSort('createdAt')}" ng-click="sortPostsBy('createdAt')">Date added</p>
        <p ng-class="{'sort-option': !isCurrentSort('likes'), 'sort-current': isCurrentSort('likes')}" ng-click="sortPostsBy('likes')">Likes</p>
        <p ng-class="{'sort-option': !isCurrentSort('comments'), 'sort-current': isCurrentSort('comments')}" ng-click="sortPostsBy('comments')">Comments</p>
    </div>

      <div ng-repeat="post in posts">
        <div class="row post">
          <div class="post-media col-xs-12 col-sm-8 col-lg-8">

            <div ng-if="post.type === 'video'">
              <a href="{{post.link}}" target="_blank">
                <video class="post-media-video" controls>
                  <source src="{{post.videos.stdRes | trustResource}}" type="video/mp4">
                  <source src="{{post.videos.lowRes | trustResource}}" type="video/ogg">
                  Your browser does not support the video tag
                </video>
              </a>
            </div>

            <div ng-if="post.type === 'image'" class="post-wrap">
              <a href="{{post.link}}" target="_blank">
                <img src="{{post.images.stdRes}}" class="post-media-image">
              </a>
            </div>

          </div>

          <div class="post-content col-xs-12 col-sm-4 col-lg-4">

            <p class="content-caption" ng-bind-html="post.caption | parseTag"></p>

            <p class="content-date">{{post.createdAt | dateFormat}}</p>

            <div class="content-info-wrap">
              <div class="content-info">
                <i class="fa fa-heart fa-2x "></i>
                <p class="content-info-text">{{post.likeCount | countFormat}}</p>
              </div>

              <div class="content-info">
                <i class="fa fa-comment fa-2x "></i>
                <p class="content-info-text">{{post.commentCount | countFormat}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
  <!-- loading screen -->
  <!--  -->
  <div class="loading" ng-show="render.loading"><p>loading...</p></div>
</div>
